@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,100..900&family=Oswald:wght@200..700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk";
  min-width: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/024/649/105/large_2x/pattern-pokeball-red-and-white-ball-of-the-popular-cartoon-90s-pixel-art-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.container {
  height: auto;
  margin: 2% 8%;
  display: grid;
  padding: 2% 2%;
  grid:
    "pokémon_image pokémon_image pokémon_name pokémon_name" 20% "pokémon_image pokémon_image pokémon_info pokémon_info" 20% "pokémon_abilities pokémon_abilities pokémon_abilities pokémon_stats" 10% "pokémon_abilities_desc pokémon_abilities_desc pokémon_abilities_desc pokémon_stats" 10%/ 20% 20% 20% 40%;
  gap: 12px;
  position: relative;
  aspect-ratio: 1/1;


  .pokémon_image {
    grid-area: pokémon_image;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .pokémon_self {
    top: 5rem;
    z-index: 2;
    scale: 220%;
    filter: drop-shadow(5px 3px 0px black);
  }

  .pokémon_background {
    top: 0;
    left: 0;
    z-index: 1;
    border: 5px solid #85A947;
    border-radius: 5px;
  }

  .pokémon_name {
    font-size: 80px;
    padding-left: 10px;
    margin: 0;
    grid-area: pokémon_name;
  }

  .pokémon_info {
    font-size: 35px;
    padding-left: 10px;
    grid-area: pokémon_info;

    p {
      line-height: 40px;

      .type {
        scale: 200%;
        padding-left: 25px;
        transform: translateY(-2px);
      }

      .type2 {
        padding-left: 35px;
      }
    }
  }

  .pokémon_stats {
    font-size: 25px;
    line-height: 35px;
    grid-area: pokémon_stats;

    table {
      width: 100%;

      tr {

        .pokémon_results {
          text-decoration: underline;
          font-weight: 700;
        }
      }

    }
  }

  .pokémon_abilities {
    font-size: 25px;
    line-height: 35px;
    grid-area: pokémon_abilities;

    .pokémon_ability_table {
      width: 100%;
      border: black solid 2px;

      .ability {

        .ability_title {
          text-decoration: underline;
          font-weight: 700;
          margin: 5px 0;
        }

        .ability_description {
          text-decoration: underline;
          font-weight: 700;

        }
      }
    }

    .button-container {
      position: absolute;
      justify-items: center;

      .button {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: #bdbdbd;
        color: #333333;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        a {
          text-decoration: none;

          &:visited {
            color: #333333;
          }
        }

        &:hover {}

        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}