@import url("./reset.css");
@import url("./icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:opsz,wght@14..32,100..900&family=Oswald:wght@200..700&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
}

body {
  min-width: 100%;
  background-image: url("https://static.vecteezy.com/system/resources/previews/024/649/105/large_2x/pattern-pokeball-red-and-white-ball-of-the-popular-cartoon-90s-pixel-art-free-vector.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  max-width: 80%;
  margin: 40px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  grid:
    "pokémon_image pokémon_image pokémon_name pokémon_name" 10% "pokémon_image pokémon_image pokémon_info pokémon_info" 30% "pokémon_type1 pokémon_type2 pokémon_stats pokémon_stats" 10% "pokémon_abilities pokémon_abilities pokémon_abilities pokémon_abilities" 20% / 1fr 1fr 1fr 1fr;
  gap: 8px;

  .pokémon_image {
    grid-area: pokémon_image;
    grid-area: pokémon_image;
    border-radius: 5px;

    img {
      display: block;
      padding: 15px;
      height: 250px;
      filter: drop-shadow(5px 5px 6px black);
    }
  }

  .pokémon_name {
    grid-area: pokémon_name;
  }

  .pokémon_info {
    grid-area: pokémon_info;
  }

  .pokémon_type1 {
    grid-area: pokémon_type1;
  }

  .pokémon_type2 {
    grid-area: pokémon_type2;
  }

  .pokémon_stats {
    grid-area: pokémon_stats;
  }

  .pokémon_abilities {
    grid-area: pokémon_abilities;
  }

  p {
    margin-bottom: 20px;
    font-weight: 400;
  }

  .pokémon_stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    table {
      width: 100%;
      border: black solid 2px;

      tr {

        td {}

        .pokémon_stats_results {}
      }

    }
  }

  .button-container {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;

    .button {
      display: inline-block;
      margin: 0 10px;
      padding: 10px 20px;
      background-color: #bdbdbd;
      color: #333333;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      a {
        text-decoration: none;

        &:visited {
          color: #333333;
        }
      }

      &:hover {
        background-color: #cacaca;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }
}